/* ====== @font-face ===========*/

/* ====== Bitter ===========*/ 
@font-face {
    font-family: 'bitterregular';
    src: url('fonts/bitter-regular-webfont.eot');
    src: url('fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/bitter-regular-webfont.woff') format('woff'),
        url('fonts/bitter-regular-webfont.ttf') format('truetype'),
        url('fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitterbold';
    src: url('fonts/bitter-bold-webfont.eot');
    src: url('fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/bitter-bold-webfont.woff') format('woff'),
        url('fonts/bitter-bold-webfont.ttf') format('truetype'),
        url('fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ====== Proxima ===========*/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-reg-webfont.woff') format('woff'),
        url('fonts/proximanova-reg-webfont.ttf') format('truetype'),
        url('fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('fonts/proximanova-xbold-webfont.eot');
    src: url('fonts/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-xbold-webfont.woff') format('woff'),
        url('fonts/proximanova-xbold-webfont.ttf') format('truetype'),
        url('fonts/proximanova-xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('fonts/proximanova-sbold-webfont.eot');
    src: url('fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-sbold-webfont.woff') format('woff'),
        url('fonts/proximanova-sbold-webfont.ttf') format('truetype'),
        url('fonts/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-bold-webfont.woff') format('woff'),
        url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
        url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ====== Futura ===========*/
@font-face {
    font-family: 'FuturaStd-Medium';
    src: url('fonts/futurastd-medium.eot');
    src: url('fonts/futurastd-medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/futurastd-medium.woff') format('woff'),
        url('fonts/futurastd-medium.ttf') format('truetype'),
        url('fonts/futurastd-medium.svg#futurastd-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStd-Bold';
    src: url('fonts/futurastd-bold.eot');
    src: url('fonts/futurastd-bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/futurastd-bold.woff') format('woff'),
        url('fonts/futurastd-bold.ttf') format('truetype'),
        url('fonts/futurastd-bold.svg#futurastd-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Base Tag Formatting
 */
html, body{
    height: 100%;
    min-height: 100%;
    background: #2A2E31;
}
body {
    display: flex;
    flex-direction: column;
}
.page-header {
    margin: 0px;
    border-bottom: none;
    padding-bottom: 0px;
}
.logo-row {
    background: #000;
    padding-top: 2px;
    height: 75px;
    border-bottom: none;
}
.logo-row h1 {
    display: none;
}
.main-content {
    background: #FFF;
    padding-left: 10px;
    padding-right: 10px;
/*    overflow-y: scroll; */
/*    -webkit-overflow-scrolling: touch; */
    flex: auto;
}
#header {
    width: 100%;
    background: #000;
    flex: none;
}
#footer {
    min-height: 125px;
    width: 100%;
    background: #000;
    font-size: 0.85em;
    color: #ccc;
    font-family: "proxima_nova_ltsemibold";
    flex: none;
}
.footer-logo img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
}
.copyright {
    padding-top: 10px;
    text-align: right;
}
h1, h2 {
    color: #3c799f;
    font-family: 'proxima_nova_rgbold';
    letter-spacing: 0;
    line-height: 1;
}
h1 {
    font-size: 3em;  
}
h2 {
    font-size: 1.5em
}
h3 {
    font-size: 1.2em
}
h4 {
    font-size: 1.1em
}
h5, h6 {
    font-size: 1em
}

/* Small Devices */
@media only screen and (max-width : 768px) {
    #footer {
	    display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .contentpage {
	    background: transparent url('../images/desktop-zone-content-bg.png') repeat-y;
	    background-position: center;
    }
    .frontpage {
	    background: transparent url('../images/desktop-zone-content-bg-fp.png') repeat-y;
	    background-position: center;
    }
    .logo-row h1 {
    	display: block;
	    text-transform: uppercase;
    }
    
    html, body {
    	min-height: 100%;
    }

    /* Scrolling of main content between fixed header and footer */
    html, body {
    	height: 100%;
    	overflow: hidden;
    }    
    .main-content {
    	overflow-y: hidden;
    }
    .main-content:hover {
    	overflow-y: auto;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .contentpage {
	    background: transparent url('../images/desktop-zone-content-bg-lg.png') repeat-y;
	    background-position: center;
    }
    .frontpage {
	    background: transparent url('../images/desktop-zone-content-bg-lg-fp.png') repeat-y;
	    background-position: center;
    }
}
